/* Add to your app.css or main CSS file */
@import "tailwindcss";

@theme {
	--font-inter: "Inter", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--font-manrope: "Manrope", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";

	/* --color-theme-50: oklch(0.828 0.08 151.76);
	--color-theme-100: oklch(0.793 0.077 151.58);
	--color-theme-200: oklch(0.733 0.071 152.25);
	--color-theme-300: oklch(0.672 0.066 151.66);
	--color-theme-400: oklch(0.623 0.061 151.62);
	--color-theme-500: oklch(0.563 0.056 151.54);
	--color-theme-600: oklch(0.502 0.049 151.78);
	--color-theme-700: oklch(0.411 0.04 152.43);
	--color-theme-800: oklch(0.315 0.03 152.1);
	--color-theme-900: oklch(0.23 0.022 152.89);
	--color-theme-950: oklch(0.176 0.017 152.04);
	--color-theme-1000: oklch(14.68% 0.01232 151.489); */

	
	--color-theme-50: #485160;
	--color-theme-100: #444c5a;
	--color-theme-200: #3b424f;
	--color-theme-300: #323843;
	--color-theme-400: #2a2f37;
	--color-theme-500: #21252c;
	--color-theme-600: #1c2026;
	--color-theme-700: #181b20;
	--color-theme-800: #14161a;
	--color-theme-900: #0f1114;
	--color-theme-950: #0d0f11;
	--color-theme-1000: #030405;

	/* TODO: REMOVE */
	--color-bd-50: #c3d4ed;
	--color-bd-100: #b4c9e9;
	--color-bd-200: #94b2df;
	--color-bd-300: #759cd6;
	--color-bd-400: #5585cd;
	--color-bd-500: #396fc0;
	--color-bd-600: #305da1;
	--color-bd-700: #264b81;
	--color-bd-800: #1d3862;
	--color-bd-900: #142642;
	--color-bd-950: #0F1D32l;
}

:root {
	font-size: 16px;

	@apply bg-theme-700 text-slate-200 scheme-dark;
}

html,
body {
	height: 100%;
	margin: 0;
	overscroll-behavior: none;
}

body {
	overflow: hidden scroll;
}


a:hover, .touch a {
	@apply underline;
}

:root {
	/* font-size: --spacing(8); */
	--nav-height: --spacing(20);
	
	@apply scheme-dark;
}

::selection {
	@apply bg-bd-500 text-white;
}

.wrap {
	@apply mx-auto w-full max-w-340 sm:px-16 px-4;
}
.anchor {
	@apply text-bd-400 hover:underline;
}
.focusOutline {
	@apply outline-bd-500/70 focus:outline-2 focus:outline-offset-3;
}
.focusWithinOutline {
	@apply outline-bd-500/70 focus-within:outline-2 focus-within:outline-offset-3;
}
.hoverOutline {
	@apply outline-bd-500/70 hover:outline-2 hover:outline-offset-3;
}
.textShadow {
	text-shadow: 0 2px 5px black;
}

@layer base {
	:where(.emoji) {
		height: 1em;
		width: 1em;
		margin: 0 .05em 0 .1em;
		vertical-align: -0.1em;
	}
}